.header {
    display: flex;
    min-height: 72px;
    align-items: center;
    justify-content: flex-start;
    gap: clamp(64px, 30vw, 450px);
    padding: 0px 54px;
    background-color: #f7f7f7;
    color: #101828;
}

.headerLink {
    text-decoration: none;
    color: #101828;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 28px 10px;
    transition: color 0.2s ease;
}

.headerLink:hover,
.headerLink:focus,
.headerLink:active {
    color: #d84343;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.navigationItem {
    display: flex;
    align-items: center;
}

.navigationLink {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #101828;
    padding: 28px 0px;
    transition: color 0.2s ease;
}

.navigationLink:hover,
.navigationLink:focus,
.navigationLink:active {
    color: #d84343;
}

.active {
    color: #d84343;
}