.grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.button {
    padding: 16px 32px;
    border-radius: 200px;
    border: 1px solid #dadde1;
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
}

.button:hover {
    border-color: #e44848;
}