.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid #dadde1;
    border-radius: 20px;
    background-color: #fff;
}

.image {
    object-fit: cover;
    border-radius: 10px;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.price {
    font-size: 18px;
    font-weight: 600;
}

.meta {
    margin-top: 8px;
    color: #6c717b;
}

.link {
    display: inline-block;
    margin-top: 16px;
    color: #e44848;
    font-weight: 500;
    text-decoration: none;
}